:root {

    --bg-color: #081b12;
    --set-color1: #443b38;
    --set-color2: #6d4c3f;
    --bg-color1: #3b312d;
    --ply-txt: #1b8a54;
    --ply-spn: #3ac280;
    --rvb-spn: blue;
}

body {
    margin: 0;
    position: relative;
    background: var(--bg-color);
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--set-color2);
    text-shadow: 2px 0px 3px var(--set-color1);
    text-decoration: underline var(--set-color2);
    outline: none;
}

.leaves-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    background-image: url('Images/leaves.gif');
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.25) contrast(1.8);
}

.Controls {
    font-family: monospace;
    font-size: large;
    border: 1px solid #00000036;
    background: var(--bg-color1);
    font-weight: 150;
    font-size: large;
}

.PlaybackSpeed {
    margin-bottom: 0.6rem;
    color: var(--ply-txt);
    text-shadow: 0px 0px 3.5px var(--ply-spn);
    text-align: center;
}

.ReverbLevel {
    text-align: center;
    color: var(--ply-txt);
    margin-bottom: 0.6rem;
    text-shadow: 0px 0px 3.5px var(--ply-spn);

}

#reverb-val {
    font-size: medium;
    font-family: serif;
    margin-left: 0.4rem;
    text-shadow: none;
    color: whitesmoke;
}

#speed-val {
    font-size: medium;
    font-family: serif;
    color: rgb(255, 255, 255);
    text-shadow: none;
    color: whitesmoke;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 90%;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #181530;
    height: 6px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #cf4c8e;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;

    margin-top: -5px;

    box-shadow: 0 0 10px rgb(142, 62, 218);
    transition: transform 0.1s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/*
FireFox Support
*/

input[type="range"]::-moz-range-track {
    background: #181530;
    height: 6px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

input[type="range"]::-moz-range-thumb {
    background-color: #cf4c8e;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px rgb(142, 62, 218);
    transition: transform 0.1s ease;
}

input[type="range"]::-moz-range-thumb:hover {
    transform: scale(1.2);
}